%p#notice= notice
%p
  %strong Title:
  = @post.title
%p
  %strong Body:
  = @post.body

%h2 Comments:
= render @post.comments

%h2 Add a comment:
= render 'comments/form'

= link_to 'Edit', edit_post_path(@post)
|
= link_to 'Back To Posts', posts_path
